<div class="text-bg-dark p-4 content">
  <header class="container text-bg-light p-2 text-center middle">
    <div class="title row">
      <h1>ToDo App</h1>
      <p>Advance version with filter</p>
    </div>
  </header>
  <main class="container" id="main-content">
    <section role="form" class="addtodo row mb-3" aria-labelledby="todo-form">
      <form action="" method="post">
        <div class="row mb-3 p-2">
          <textarea name="new-task" id="new-task" cols="30" rows="3" class="form-control"
            placeholder="Add a new task"></textarea>
        </div>
        <div class="row g-3">
          <div class="col-auto">
            <input class="form-control" type="date" name="task-date" id="task-date" />
          </div>
          <div class="col-4">
            <input class="form-control" type="text" name="tags" id="tags"
              placeholder="Enter comma separated tags here" />
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-success">Add Task</button>
          </div>
        </div>
      </form>
    </section>
    <section role="region" class="todolist" aria-labelledby="todo-list">
      <div class="main-filter row mb-3">
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#tagslistadded"
            aria-expanded="false" aria-controls="tagslistadded">
            Filter By Tags
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary">Show All</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary">
            Show Completed
          </button>
        </div>
      </div>
      <div class="collapse" id="tagslistadded">
        <span *ngFor="let tag of tagsList">
          <button type="button" class="btn btn-secondary m-1">{{tag}}</button>
        </span>
      </div>
      <div class="table-responsive">
        <table class="table table-dark caption-top table-striped">
          <caption>
            List of Tasks
          </caption>
          <thead>
            <th>Index</th>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Tags</th>
          </thead>
          <tbody>
            <tr *ngFor="let task of task; let i = index; let last = last">
              <td>{{ task.itemId }}</td>
              <td class="d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" type="checkbox" name="taskName" id="taskName" />
                  <label class="form-check-label" for="taskName">{{ task.taskName }} </label>
                </div>
                <i *ngIf="task.isCompleted" class="fa-regular fa-circle-check fa-lg" style="color: #63e6be"></i>
                <i *ngIf="!task.isCompleted" class="fa-regular fa-circle-xmark fa-lg" style="color: #d83803"></i>
                
              </td>
              <td>
                {{ task.dueDate }}
              </td>
              <td>
                <span *ngFor="let tag of task.tags" class="badge text-bg-secondary">{{ tag }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</div>